@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.App {
  text-align: center;
}
.Header {
  color: #302718;
  text-shadow: 1px 1px 5px #fff;
  font-size:3rem;
}
/* write your parent styles in here for your App.js */
body, html {
  font-family: 'Bangers', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}